global-include autogptq_next_ext/**/*.cuh
global-include autogptq_next_ext/**/*.h
global-include autogptq_next_ext/**/*.cpp
global-include autogptq_next_ext/**/*.cu
global-include autogptq_next_ext/**/*.py
